.ipynb_checkpoints
.idea
__pycache__
.idea
*.ova
*.rar
*.zip
data/*.txt
data/data_fp
data_million/data_fp
models/supervised/new/
data/
models/mobilenet_v2
models/vgg19
trained_models
.vscode
old
Models_dense
models
tmp
.logs
*.v2

